<app-top-bar [store]="store"></app-top-bar>
<head>
  <base href="/">
</head>
<div *ngIf="store === 'google'" class="google-design">
  <h2>Products</h2>
  <div *ngFor="let product of products">
    <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/google ', product.id]">
        {{ product.name }}
      </a>
    </h3>
    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>
    <button type="button" (click)="share()">Share</button>
    <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
  </div>
  <img src="assets/images/google.jpg" alt="Logo" class="side-image">
</div>

<div *ngIf="store === 'apple'" class="apple-design">
  <h2>Products</h2>
  <div *ngFor="let product of products">
    <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/apple/products', product.id]">
        {{ product.name }}
      </a>
    </h3>
    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>
    <button type="button" (click)="share()">Share</button>
    <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
  </div>
  <img src="assets/images/apple.jpg" alt="Logo" class="side-image">
</div>
<div>
</div>